{% extends "base.html" %}
<div class="container">
	{% block content %} 
	{% load following_tags %}
	{% if followed %}
		<div class="panel panel-primary">
		<div class="panel-heading"><h1 class="text-center">Station Tracker</h1></div>
		{% for f in followed %}
			<!-- For each device that the station uses, post its latest reading -->
			<div class="panel panel-info">
				<div class="panel-heading" ><a href="{% url 'project-station-details' f.id %}" ><h2>{{ f.name }}<span class="label label-{{f.status.status|status_label_color}} pull-right">{{ f.status.status }}</span></h2></a></div>
				{% for report in latest_reports|get_val:f.id %}
				<div class="list-group">
					<a href="{% url 'project-device-details' report.device.id %}" class="list-group-item">
						<h3 class="list-group-item-heading">{{ report.device.name }}</h3>
						<p class="list-group-item-text">{{ report.content }} {{ report.device.deviceType.unit }}</p>
						<p class="list-group-item-text">Latest Reading: {{ report.reading_time }}</p>
					</a> 
				</div>
				{% endfor %}
			</div>
		{% endfor %} 
		</div>
	{% else %}
		<div class="panel panel-warning">
			You're not following any weather stations. <br \> 
		</div>
		
	{% endif %}
	{% endblock %}
</div>

<div class="container">
</div>

